.section-header {
  margin-top: 20px;
}
/* Swipe works with mouse as well but often causes text selection. */
#home * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-page { -webkit-backface-visibility: hidden; }

#intro, #startPara, #reviewPara {
    text-align: center;
}

#question-list-for-test ul#question-block .score-marker {
    margin-left: 7px;
}
#question-list-for-test a.complete-test-icon {
    right: 20px;
    z-index: 1000;
    position: fixed;
    font-size: 20px;
    background: green;
}
#question-list-for-test .button-score-checked:after {
    background-color: green;
}
#question-list-for-test .change-score-button:after {
    background-color: black;
}
